#stack-cont {
    padding: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    background: rgb(224, 224, 224);
}
.stack-element {
    min-width: 100px;

    border: 2px dashed rgb(254, 255, 176);
    background: rgb(198, 253, 255);
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

#peek-cont {
    border: 2px dashed rgb(254, 255, 176);
    background: rgb(198, 253, 255);
    margin-top: 20px;
}
.card-menu {
    min-height: 300px;
}
