* {
    box-sizing: border-box;
}
#left-cont {
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    height: 80vh;
    padding: 10px;
}
#stack-cont {
    display: flex;
    flex-direction: column-reverse;
    background: rgb(70, 44, 10);
    min-height: 100%;
}
.stack-element {
    min-height: 150px;
    display: flex;
    border: 2px dashed rgb(254, 255, 176);

    background: rgb(198, 253, 255);
    background: linear-gradient(135deg, rgb(254, 255, 168), rgb(198, 255, 171));
    height: 100px;
    text-align: center;
    margin: 5px;
    justify-content: center;
    padding: 10px 20px;
}

#peek-cont {
    border: 2px dashed rgb(254, 255, 176);
    background: rgb(198, 253, 255);
    margin-top: 20px;
}
.card-menu {
    min-height: 300px;
}
